<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
    	<title>Footer</title>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<div th:fragment="myFooter" align="center">
  			<hr/>
    		<small>
    			<span th:text="${appName}" /> (ver. <span th:text="${appVersion}" />) &copy; 2018 by <strong><a href="mailto:lukpecyn@poczta.onet.pl">Łukasz Pecyna</a></strong><br />
    			<!--a href="http://lukpecyn.pl">http://lukpecyn.pl</a-->
    		</small> 
    		<p />
		</div>
	</body>
</html>