<!DOCTYPE HTML>
<html>
<head th:replace="fragments/header :: Head">
    <title>miniGRANT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="fragments/header :: myHeader"> Header </div>
	<div class="container">
		<ul class="breadcrumb">
  			<li><a href="/">miniGRANT</a></li>
  			<li class="active">Administracja</li>
		</ul>		
		
		<ul class="nav nav-tabs">
  			<li sec:authorize="hasRole('ROLE_ADMIN')" class="active"><a data-toggle="tab" href="#users">Użytkownicy</a></li>
		</ul>	
		<div class="tab-content">
    		<div id="users" class="tab-pane fade in active" sec:authorize="hasRole('ROLE_ADMIN')" >
				<table class="table">
    				<thead>
    					<tr>
			    			<th>Login</th>
			    			<th>Imię i nazwisko</th>
			    			<th>Adres e-mail</th>
			    			<th width="10%">Potwierdzony</th>
			    			<th width="10%">Aktywny</th> 
			    			<th width="5%">Akcja</th>
    					</tr>
		    		</thead>
    				<tbody>
						<tr th:each="user : ${userList}">
							<td th:text="${user.getUsername()}" />
							<td th:text="${user.getFullname()}" />
							<td th:text="${user.getEmail()}" />
							<td  align="center" class="success text-success" th:if="${user.getConfirmed()}">TAK</td>
							<td align="center" class="danger text-danger" th:if="${!user.getConfirmed()}">NIE</td>
							<td align="center" class="success text-success" th:if="${user.getEnabled()}">TAK</td>
							<td align="center" class="danger text-danger" th:if="${!user.getEnabled()}">NIE</td>
							<td th:if="${user.getEnabled()} AND ${user.getConfirmed()}"><a class="btn btn-danger" th:href="@{/admin/user/} + ${user.getUsername()} + @{/disable}">Wyłącz</a></td>
							<td th:if="${!user.getEnabled()} AND ${user.getConfirmed()}"><a class="btn btn-success" th:href="@{/admin/user/} + ${user.getUsername()} + @{/enable}">Włącz</a></td>
							<td th:if="${!user.getConfirmed()}">E-mail niepotwierdzony</td>
						</tr>    	
		    		</tbody>
    			</table>
    		</div>
    	</div>
	</div>
	<div th:replace="fragments/footer :: myFooter"> Footer </div>
</body>
</html>