<!DOCTYPE HTML>
<html>
<head th:replace="fragments/header :: Head">
    <title>miniGRANT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="fragments/header :: myHeader"> Header </div>
	<div class="container">
		<ul class="breadcrumb">
  			<li><a href="/">Granty</a></li>
  			<li><a href="/admin">Administracja</a></li>
  			<li>Grantodawcy</li>
  			<li class="active" th:text="${beneficiary.getName()}" />
		</ul>		
		<table class="table">
			<p />
			<a th:href="${beneficiary.getId()} + @{/beneficiary_form}" class="btn btn-primary" >Popraw grantodawcę</a>
    		<thead>
    			<tr>
    				<th>Nazwa</th>
    			</tr>
    		</thead>
    		<tbody>
				<tr>
					<td th:text="${beneficiary.getName()}" />
				</tr>    	
    		</tbody>
    	</table>
	</div>
	<div th:replace="fragments/footer :: myFooter"> Footer </div>
</body>
</html>