<!DOCTYPE HTML>
<html>
<head th:replace="fragments/header :: Head">
    <title>miniGRANT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="fragments/header :: myHeader"> Header </div>
	<div class="container">
		<ul class="breadcrumb">
  			<li><a href="/">miniGRANT</a></li>
  			<li><a href="/beneficiary">Beneficjenci</a></li>
  			<li class="active" th:text="${beneficiary.getName()}" />
  			<a th:href="${beneficiary.getId()} + @{/beneficiary_form}" class="btn btn-warning" >Popraw beneficjenta</a>
		</ul>
		
		<!--p>
			<a th:href="${beneficiary.getId()} + @{/beneficiary_form}" class="btn btn-warning" >Popraw beneficjenta</a>
			<a th:href="${beneficiary.getId()} + @{/grant_form}" th:if="${donorList.size()>0} AND ${costTypeList.size()>0}" class="btn btn-success" ><strong>Nowy grant</strong></a>
			<a th:href="${beneficiary.getId()} + @{/donor_form}" class="btn btn-success" >Nowy grantodawca</a>
			<a th:href="${beneficiary.getId()} + @{/cost_type_form}" class="btn btn-success" >Nowy rodzaj kosztu</a>
			<a th:href="${beneficiary.getId()} + @{/coworker_form}" class="btn btn-warning" >Dołącz współpracownika</a>
    	</p-->
		<ul class="nav nav-tabs">
  			<li class="active"><a data-toggle="tab" href="#grants">Granty</a></li>
  			<li><a data-toggle="tab" href="#donors">Grantodawcy</a></li>
  			<li><a data-toggle="tab" href="#cost_types">Rodzaje kosztów</a></li>
  			<li><a data-toggle="tab" href="#users">Współpracownicy</a></li>
		</ul>	
			
		<div class="tab-content">
			<div id="grants" class="tab-pane fade in active">
				<p />
				<a th:href="${beneficiary.getId()} + @{/grant_form}" th:if="${donorList.size()>0} AND ${costTypeList.size()>0}" class="btn btn-success" ><strong>Nowy grant</strong></a>
				<p th:unless="${donorList.size()>0} AND ${costTypeList.size()>0}" />
				<div th:unless="${donorList.size()>0}" class="alert alert-danger">Najpierw musisz dodać conajmniej jednego <u>grantodawcę</u>!</div> 
				<div th:unless="${costTypeList.size()>0}" class="alert alert-danger">Najpierw musisz dodać conajmniej jednen <u>rodzaj kosztu</u>!</div>
				<table th:if="${donorList.size()>0}" class="table">
    				<thead>
    					<tr>
	    					<th>Nazwa grantu</th>
    						<th>Data początkowa</th>
	    					<th>Data końcowa</th>
    						<th>Status</th>
    					</tr>
    				</thead>
    				<tbody>
						<tr th:each="grant : ${grantList}">
							<td> <a th:href="${beneficiary.getId()} + @{/grant/} + ${grant.getId()}" th:text="${grant.getName()}" /></td>
							<!--td th:text="${grant.getName()}" /-->
							<td th:text="${grant.getDateBegin()}" />
							<td th:text="${grant.getDateEnd()}" />
							<!--td th:text="${grant.getStatusText()}" /-->
							<td> <span th:each="grantStatus : ${grantStatusList}" th:if="${grantStatus.getId()==grant.getStatus()}" th:text="${grantStatus.getName()}" /></td>
						</tr>    	
    				</tbody>
    			</table>
    			
			</div>
    		<div id="donors" class="tab-pane fade">
    			<p />
    			<a th:href="${beneficiary.getId()} + @{/donor_form}" class="btn btn-success" >Nowy grantodawca</a>
				<table class="table">
    				<thead>
    					<tr>
			    			<th>Nazwa grantodawcy</th>
    					</tr>
		    		</thead>
    				<tbody>
						<tr th:each="donor : ${donorList}">
							<td> <a th:href="${beneficiary.getId()} + @{/donor/} + ${donor.getId()}" th:text="${donor.getName()}" /></td>
						</tr>    	
		    		</tbody>
    			</table>
    		</div>
			<div id="cost_types" class="tab-pane fade">
				<p />
				<a th:href="${beneficiary.getId()} + @{/cost_type_form}" class="btn btn-success" >Nowy rodzaj kosztu</a>
				<table class="table">
    				<thead>
    					<tr>
			    			<th>Rodzaj kosztów</th>
    						<th width="70%">Opis</th>
    					</tr>
		    		</thead>
    				<tbody>
						<tr th:each="costType : ${costTypeList}">
							<td> <a th:href="${beneficiary.getId()} + @{/cost_type/} + ${costType.getId()}" th:text="${costType.getName()}" /></td>
							<td th:text="${costType.getDescription()}" />
						</tr>    	
		    		</tbody>
    			</table>    		
    		</div>
    		<div id="users" class="tab-pane fade">
				<p />
				<a th:href="${beneficiary.getId()} + @{/coworker_form}" class="btn btn-warning" >Dołącz współpracownika</a>
				<table class="table">
    				<thead>
    					<tr>
			    			<th>Login</th>
			    			<th>Imię i nazwisko</th>
			    			<th>Adres e-mail</th>
			    			<th width="10%">Potwierdzony</th>
			    			<th width="10%">Aktywny</th> 
			    			<th width="5%">Akcja</th>
    					</tr>
		    		</thead>
    				<tbody>
						<tr th:each="user : ${userList}">
							<td th:text="${user.getUsername()}" />
							<td th:text="${user.getFullname()}" />
							<td th:text="${user.getEmail()}" />
							<td  align="center" class="success text-success" th:if="${user.getConfirmed()}">TAK</td>
							<td align="center" class="danger text-danger" th:if="${!user.getConfirmed()}">NIE</td>
							<td align="center" class="success text-success" th:if="${user.getEnabled()}">TAK</td>
							<td align="center" class="danger text-danger" th:if="${!user.getEnabled()}">NIE</td>
							<td><a class="btn btn-danger" th:href="${beneficiary.getId()} + @{/coworker/} + ${user.getUsername()} + @{/cancel}" >Odwołaj</a> </td>
						</tr>    	
		    		</tbody>
    			</table>    		
    		</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: myFooter"> Footer </div>
</body>
</html>