<!DOCTYPE HTML>
<html>
<head th:replace="fragments/header :: Head">
    <title>Olimpia DB</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="fragments/header :: myHeader"> Test </div>
	<div class="container">
		 <ul class="breadcrumb">
  			<li><a href="/">Granty</a></li>
  			<li><a href="/admin">Administracja</a></li>
  			<li>Benecficjenci</li>
  			<li th:if="${beneficiary.getId()>=0}"><a th:href="@{/admin/beneficiary/} + ${beneficiary.getId()}" th:text="${beneficiary.getName()}"/> </li>
  			<li class="active">Definicja beneficjenta</li>
		</ul>
		<form class="form-horizontal" th:action="@{beneficiary_form}" th:object="${beneficiary}" method="post">
			<input type="hidden" th:field="*{id}" />
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Nazwa</label>
				<div class="col-sm-10">
					<input th:field="*{name}" class="form-control" id="name" type="text" placeholder="Nazwa grantodawcy" required="required" />
				</div>
			</div>
			
			<div class="form-group">
    			<div class="col-sm-offset-2 col-sm-10">
      				<div class="btn-group">
	      				<button type="submit" class="btn btn-success">Zatwierdź</button>
    	  				<input Type="button" class="btn btn-danger" VALUE="Anuluj" onClick="history.go(-1);return true;" />
    	  			</div>
    			</div>
  			</div>
		</form> 
		
    </div>
    <div th:replace="fragments/footer :: myFooter"> Test </div>
</body>
</html>