<!DOCTYPE HTML>
<html>
<head th:replace="fragments/header :: Head">
    <title>Olimpia DB</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="fragments/header :: myHeader"> Test </div>
	<div class="container">
		 <ul class="breadcrumb">
  			<li><a href="/">Granty</a></li>
  			<li><a th:href="@{/grant/} + ${grant.getId()}" th:text="${grant.getName()}"/> </li>
  			<li>Kosztorys</li>
  			<li th:if="${budget.getId()>=0}"><a th:href="@{/grant/} + ${grant.getId()} + @{/budget/} + ${budget.getId()}" th:text="${budget.getCostType().getName()}"/> </li>
  			<li class="active">Definicja kosztorysu</li>
		</ul>
		<form class="form-horizontal" action="budget_form" th:action="@{budget_form}" th:object="${budget}" method="post">
			<input type="hidden" th:field="*{id}" />
			<input type="hidden" th:field="*{idGrant}" th:value="${grant.getId()}"/>
			<div class="form-group">
				<label class="control-label col-sm-2" for="status">Rodzaj kosztu</label>
				<div class="col-sm-4">
					<select th:field="*{costType.id}" class="form-control" id="status" >
						<option th:each="costType : ${costTypeList}" th:value="${costType.getId()}" th:text="${costType.getName()}"/>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="description">Opis</label>
				<div class="col-sm-10">
					<input th:field="*{description}" class="form-control" id="description" type="text" placeholder="Opis kosztu" required="required" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="dotation">Dotacja</label>
				<div class="col-sm-2">
					<input th:field="*{dotation}" class="form-control" id="dotation" type="number" min="0.00" step="0.01" placeholder="kwota dotacji" required="required" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="contribution_own">Wkład własny</label>
				<div class="col-sm-2">
					<input th:field="*{contributionOwn}" class="form-control" id="contribution_own" type="number" min="0.00" step="0.01" placeholder="Kwota pokryta ze środków własnych" required="required" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="contribution_personal">Wkład osobowy</label>
				<div class="col-sm-2">
					<input th:field="*{contributionPersonal}" class="form-control" id="contribution_personal" type="number" min="0.00" step="0.01" placeholder="Koszty wolontariatu, itp." required="required" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="contribution_inkind">Wkład rzeczowy</label>
				<div class="col-sm-2">
					<input th:field="*{contributionInkind}" class="form-control" id="contribution_inkind" type="number" min="0.00" step="0.01" placeholder="Użyczony sprzęt" required="required" />
				</div>
			</div>
			
			<div class="form-group">
    			<div class="col-sm-offset-2 col-sm-10">
      				<div class="btn-group">
	      				<button type="submit" class="btn btn-success">Zatwierdź</button>
    	  				<input Type="button" class="btn btn-danger" VALUE="Anuluj" onClick="history.go(-1);return true;" />
    	  			</div>
    			</div>
  			</div>
		</form> 
		
    </div>
    <div th:replace="fragments/footer :: myFooter"> Test </div>
</body>
</html>