<!DOCTYPE HTML>
<html>
<head th:replace="fragments/header :: Head">
    <title>miniGRANT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="fragments/header :: myHeader"> Header </div>
	<div class="container">
		<ul class="breadcrumb">
  			<li><a href="/">miniGRANT</a></li>
  			<li><a href="/beneficiary">Beneficjenci</a></li>
  			<li><a th:href="@{/beneficiary/} + ${beneficiary.getId()}" th:text="${beneficiary.getName()}" /></li>
			<li>Rodzaje kosztów</li>
  			<li class="active" th:text="${costType.getName()}"/>
		</ul>		
		<table class="table">
			<p />
			<a th:href="${costType.getId()} + @{/cost_type_form}" class="btn btn-warning" >Popraw rodzaj kosztu</a>
    		<thead>
    			<tr>
    				<th>Nazwa</th>
    				<th>Opis</th>
    			</tr>
    		</thead>
    		<tbody>
				<tr>
					<td th:text="${costType.getName()}" />
					<td th:text="${costType.getDescription()}" />
				</tr>    	
    		</tbody>
    	</table>
	</div>
	<div th:replace="fragments/footer :: myFooter"> Footer </div>
</body>
</html>