<!DOCTYPE HTML>
<html>
<head th:replace="fragments/header :: Head">
    <title>Olimpia DB</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="fragments/header :: myHeader"> Test </div>
	<div class="container">
		 <ul class="breadcrumb">
  			<li><a href="/">Granty</a></li>
  			<li th:if="${grant.getId()>=0}"><a th:href="@{/grant/} + ${grant.getId()}" th:text="${grant.getName()}"/> </li>
  			<li>Dokumenty</li>
  			<li class="active" th:if="${document.getId()>=0}" th:text="${document.getName()}"/>
		</ul>
		<form class="form-horizontal" action="document_form" th:action="@{document_form}" th:object="${document}" method="post">
			<input type="hidden" th:field="*{id}" />
			<input type="hidden" th:field="*{idGrant}" th:value="${grant.getId()}"/>
			<!--div class="form-group">
				<label class="control-label col-sm-2" for="status">Pozycja kosztorysu</label>
				<div class="col-sm-4">
					<select th:field="*{costType.id}" class="form-control" id="status" >
						<option th:each="costType : ${costTypeList}" th:value="${costType.getId()}" th:text="${costType.getName()}"/>
					</select>
				</div>
			</div-->
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Dokument</label>
				<div class="col-sm-10">
					<input th:field="*{name}" class="form-control" id="name" type="text" placeholder="Identyfikator dokumentu" required="required" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="description">Opis</label>
				<div class="col-sm-10">
					<input th:field="*{description}" class="form-control" id="description" type="text" placeholder="Opis dokumentu" required="required" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="value">Kwota</label>
				<div class="col-sm-2">
					<input th:field="*{value}" class="form-control" id="value" type="number" min="0.00" step="0.01" placeholder="kwota dokumentu" required="required" />
				</div>
			</div>
			
			<div class="form-group">
    			<div class="col-sm-offset-2 col-sm-10">
      				<div class="btn-group">
	      				<button type="submit" class="btn btn-success">Zatwierdź</button>
    	  				<input Type="button" class="btn btn-danger" VALUE="Anuluj" onClick="history.go(-1);return true;" />
    	  			</div>
    			</div>
  			</div>
		</form> 
		
    </div>
    <div th:replace="fragments/footer :: myFooter"> Test </div>
</body>
</html>