<!DOCTYPE HTML>
<html>
<head th:replace="fragments/header :: Head">
    <title>miniGRANT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="fragments/header :: myHeader"> Header </div>
	<div class="container">
		<ul class="breadcrumb">
  			<li><a href="/">miniGRANT</a></li>
  			<li><a th:href="@{/grant/} + ${grant.getId()}" th:text="${grant.getName()}"/> </li>
  			<li>Dokumenty</li>
  			<li class="active" th:text="${document.getName()}"/>
		</ul>		
		<table class="table">
    		<thead>
    			<!--tr>
    				<td colspan="3"><a th:href="${grant.getId()} + @{/grant_form}" class="btn btn-primary" >Popraw grant</a></td>
    				<td align="center" colspan="4"><strong>Planowane wydatki<br />(pozostało)</strong></td>
    			</tr-->
    			<tr>
    				<th width="90%">Opis</th>
	    			<th>Kwota</th>
	    			<th>Nierozliczone</th>
    			</tr>
    		</thead>
    		<tbody>
				<tr>
					<td th:text="${document.getDescription()}" />
					<td th:text="${document.getValue()}" />
					<td />
				</tr>    	
    		</tbody>
    	</table>
    	<ul class="nav nav-tabs">
  			<li class="active"><a data-toggle="tab" href="#estimates">Rozliczenie</a></li>
  			<!--li><a data-toggle="tab" href="#costs">Realizacja</a></li-->
		</ul>	
				
		<div class="tab-content">
			<div id="estimates" class="tab-pane fade in active">
				<p />
				<a th:href="${grant.getId()} + @{/budget_form}" class="btn btn-primary" >Nowa pozycja</a>
				<table class="table">
    				<thead>
    					<tr>
    						<th width="20%"><nobr>Pozycja</nobr></th>
    						<th width="70%">Opis</th>
    						<th align="right">Dotacja</th>
    						<th align="right"><nobr>Udział własny</nobr></th>
    						<th align="right">Wolontariat</th>
    						<th align="right">SUMA</th>
    					</tr>
    				</thead>
    				<!--tbody>
						<tr th:each="budget : ${budgetList}">
							<td th:text="${budget.getCostType().getName()}"/>
							<td th:text="${budget.getDescription()}" />
							<td align="right" th:text="${budget.getDotation()}" />
							<td align="right" th:text="${budget.getOwn()}" />
							<td align="right" th:text="${budget.getVolunteerism()}" />
							<td align="right"> <strong th:text="${budget.getSum()}" /> </td>
						</tr>    	
    				</tbody-->    				
    			</table>
    		</div>
			<!--div id="costs" class="tab-pane fade">
			<p />
			<a th:href="${grant.getId()} + @{/document_form}" class="btn btn-primary" >Nowy dokument</a>
				<table class="table">
    				<thead>
    					<tr>
    						<th>Dokument</th>
    						<th width="90%">Opis</th>
    						<th>Kwota</th>
    					</tr>
    				</thead>
    				<tbody>
    					<tr th:each="document : ${documentList}">
    						<td> <a th:href="@{/grant/} + ${grant.getId()} + @{/document/} + ${document.getId()}" th:text="${document.getName()}" /> </td>
    						<td th:text="${document.getDescription()}" />
    						<td th:text="${document.getValue()}" align="right"/>
    					</tr>
    				</tbody>
    			</table>
			</div-->				
		</div>
	</div>
	<div th:replace="fragments/footer :: myFooter"> Footer </div>
</body>
</html>