<!DOCTYPE HTML>
<html>
<head th:replace="fragments/header :: Head">
    <title>miniGRANT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="fragments/header :: myHeader"> Header </div>
	<div class="container">
		<ul class="breadcrumb">
  			<li><a href="/">Granty</a></li>
  			<li><a th:href="@{/grant/} + ${grant.getId()}" th:text="${grant.getName()}"/> </li>
  			<li>Dokumenty</li>
  			<li class="active" th:text="${document.getName()}"/>
		</ul>
		<div th:if="${message==null}">
			<!--a th:href="${document.getId()} + @{/document_form}" class="btn btn-warning" >Popraw</a-->
			<a th:href="${document.getId()} + @{/document_delete}" class="btn btn-danger" >Usuń dokument</a>
		</div>
		<div class="alert alert-danger" th:if="${message!=null}" th:text="${message}"/>		
		<table class="table">
    		<thead>
    			<tr>
    				<th width="90%">Opis</th>
	    			<th>Wartość</th>
	    			<th>Rozliczono</th>
	    			<th>Pozostało</th>
    			</tr>
    		</thead>
    		<tbody>
				<tr>
					<td class="primary" th:text="${document.getDescription()}" />
					<td class="info text-info" th:text="${document.getValue()}" align="right"/>
					<td class="success text-success" th:text="${paid}" align="right"/>
					<td class="danger text-danger" th:text="${unpaid}" align="right"/>
				</tr>    	
    		</tbody>
    	</table>
    	<ul class="nav nav-tabs">
  			<li class="active"><a data-toggle="tab" href="#estimates">Rozliczenie</a></li>
  			<!--li><a data-toggle="tab" href="#costs">Realizacja</a></li-->
		</ul>	
				
		<div class="tab-content">
			<div id="estimates" class="tab-pane fade in active">
				<p />
				<a th:href="${document.getId()} + @{/payment_form}" class="btn btn-primary" >Dodaj pozycję z kosztorysu</a>
				<table class="table">
    				<thead>
    					<tr>
    						<th width="20%"><nobr>Pozycja</nobr></th>
    						<th width="70%">Opis</th>
    						<th align="right">Dotacja</th>
    						<th align="right"><nobr>Wkład własny</nobr></th>
	    					<th align="right"><nobr>Wkład osobowy</nobr></th>
    						<th align="right"><nobr>Wkład rzeczowy</nobr></th>
    						<th align="right">SUMA</th>
    						<th>Akcje</th>
    					</tr>
    				</thead>
    				<tbody>
						<tr th:each="payment: ${paymentList}">
							<td><a th:href="@{/grant/} + ${grant.getId()} + @{/budget/} + ${payment.getBudget().getId()}" th:text="${payment.getBudget().getCostType().getName()}"/> </td>
							<td th:text="${payment.getBudget().getDescription()}" />
							<td align="right" th:text="${payment.getDotation()}" />
							<td align="right" th:text="${payment.getContributionOwn()}" />
							<td align="right" th:text="${payment.getContributionPersonal()}" />
							<td align="right" th:text="${payment.getContributionInkind()}" />
							<td align="right"> <strong th:text="${payment.getSum()}" /> </td>
							<td>
								<nobr>
									<!--a th:href="@{/grant/} + ${grant.getId()} + @{/document/} + ${document.getId()} + @{/payment/} + ${payment.getId()} + @{/payment_form}" class="btn btn-warning" >Popraw</a-->
									<a th:href="@{/grant/} + ${grant.getId()} + @{/document/} + ${document.getId()} + @{/payment/} + ${payment.getId()} + @{/payment_delete}" class="btn btn-danger" >Wycofaj</a>
								</nobr>
							</td>	
						</tr>    	
    				</tbody>    				
    			</table>
    		</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: myFooter"> Footer </div>
</body>
</html>