<!DOCTYPE HTML>
<html>
<head th:replace="fragments/header :: Head">
    <title>miniGRANT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="fragments/header :: myHeader"> Header </div>
	<div class="container">
		<a th:href="${grant.getId()} + @{/grant_form}" class="btn btn-primary" >Popraw grant</a>
		<table class="table">
    		<thead>
    			<tr>
	    			<th>Nazwa grantu</th>
    				<th>Data początkowa</th>
	    			<th>Data końcowa</th>
    				<th>Status</th>
    			</tr>
    		</thead>
    		<tbody>
				<tr>
					<td th:text="${grant.getName()}" />
					<td th:text="${grant.getDateBegin()}" />
					<td th:text="${grant.getDateEnd()}" />
					<td th:text="${grant.getStatusText()}" />
				</tr>    	
    		</tbody>
    	</table>
	</div>
	<div th:replace="fragments/footer :: myFooter"> Footer </div>
</body>
</html>