<!DOCTYPE HTML>
<html>
<head th:replace="fragments/header :: Head">
    <title>miniGRANT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="fragments/header :: myHeader"> Header </div>
	<div class="container">
	<ul class="breadcrumb">
  		<li><a href="/">Granty</a></li>
  		<li class="active" th:if="${grant.getId()>=0}"><span th:text="${grant.getName()}" /></li>
	</ul>
	<a th:href="${grant.getId()} + @{/grant_form}" class="btn btn-primary" >Popraw grant</a>
			
		<table class="table">
			<thead>
				<!--tr>
					<th width="50%">Beneficjent</th>
					<th width="50%">Grantodawca</th>
				</tr-->
				<tr>
					<th>Beneficjent</th>
					<td width="90%" th:text="${grant.getBeneficiary().getName()}" />
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Grantodawca</th>
					<td th:text="${grant.getDonor().getName()}" />
				</tr>
				<tr>
					<th>Opis</th>
					<td th:text="${grant.getDescription()}" />
				</tr>
			</tbody>
		</table>
		<table class="table">
    		<thead>
    			<tr>
    				<th>Data początkowa</th>
	    			<th>Data końcowa</th>
    				<th width="90%">Status</th>
    				<th>Dotacja</th>
    				<th><nobr>Wkład własny</nobr></th>
    				<th><nobr>Wkład osobowy</nobr></th>
    				<th><nobr>Wkład rzeczowy</nobr></th>
    				<th>SUMA</th>
    			</tr>
    		</thead>
    		<tbody>
				<tr class="info">
					<td th:text="${grant.getDateBegin()}" />
					<td th:text="${grant.getDateEnd()}" />
					<!--td th:text="${grant.getStatusText()}" /-->
					<td> <span th:each="grantStatus : ${grantStatusList}" th:if="${grantStatus.getId()==grant.getStatus()}" th:text="${grantStatus.getName()}" /></td>
					<td th:text="${grant.getDotation().toString()}" align="right" />
					<td th:text="${grant.getContributionOwn().toString()}" align="right" />
					<td th:text="${grant.getContributionPersonal().toString()}"  align="right"/>
					<td th:text="${grant.getContributionInkind().toString()}" align="right" />
					<td align="right"><strong th:text="${grant.getDotation().add(grant.getContributionOwn().add(grant.getContributionPersonal().add(grant.getContributionInkind()))).toString()}" /></td>
				</tr>
				<tr class="success">
					<td colspan="3">Rozliczone</td>
					<td align="right" th:text="${dotationPaid}" />
					<td align="right" th:text="${contributionOwnPaid}" />
					<td align="right" th:text="${contributionPersonalPaid}" />
					<td align="right" th:text="${contributionInkindPaid}" />
					<td align="right" th:text="${dotationPaid.add(contributionOwnPaid.add(contributionPersonalPaid.add(contributionInkindPaid)))}" />
				</tr>    	
				<tr class="danger">
					<td colspan="3">Pozostało</td>
					<td align="right" th:text="${grant.getDotation().subtract(dotationPaid)}" />
					<td align="right" th:text="${grant.getContributionOwn().subtract(contributionOwnPaid)}" />
					<td align="right" th:text="${grant.getContributionPersonal().subtract(contributionPersonalPaid)}" />
					<td align="right" th:text="${grant.getContributionInkind().subtract(contributionInkindPaid)}" />
					<td align="right" th:text="${grant.getSum().subtract(dotationPaid.add(contributionOwnPaid.add(contributionPersonalPaid.add(contributionInkindPaid))))}" />
				</tr>    	
    		</tbody>    		
    	</table>
    	<ul class="nav nav-tabs">
  			<li class="active"><a data-toggle="tab" href="#estimates">Kosztorys</a></li>
  			<li><a data-toggle="tab" href="#costs">Realizacja</a></li>
		</ul>	
				
		<div class="tab-content">
			<div id="estimates" class="tab-pane fade in active">
				<table class="table">
    				<thead>
    					<tr>
    						<td colspan="2"><a th:href="${grant.getId()} + @{/budget_form}" class="btn btn-primary" >Nowa pozycja</a></td>
    						<td align="center" colspan="4"><strong>Planowane wydatki<br />(pozostało)</strong></td>
    					</tr>
    					<tr>
    						<th width="20%"><nobr>Pozycja</nobr></th>
    						<th width="70%">Opis</th>
    						<th align="right">Dotacja</th>
    						<th align="right"><nobr>Wkład własny</nobr></th>
	    					<th align="right"><nobr>Wkład osobowy</nobr></th>
    						<th align="right"><nobr>Wkład rzeczowy</nobr></th>
    						<th align="right">SUMA</th>
    					</tr>
    				</thead>
    				<tbody>
						<tr th:each="budget : ${budgetList}">
							<td> <a th:href="${grant.getId()} + @{/budget/} + ${budget.getId()}" th:text="${budget.getCostType().getName()}"/> </td>
							<!--td> <a th:href="@{/grant/} + ${grant.getId()}" th:text="${grant.getName()}" /></td-->
							<td th:text="${budget.getDescription()}" />
							<td align="right" th:text="${budget.getDotation()}" />
							<td align="right" th:text="${budget.getContributionOwn()}" />
							<td align="right" th:text="${budget.getContributionPersonal()}" />
							<td align="right" th:text="${budget.getContributionInkind()}" />
							<td align="right"> <strong th:text="${budget.getSum()}" /> </td>
						</tr>    	
    				</tbody>    				
    			</table>
    		</div>
			<div id="costs" class="tab-pane fade">
			<p />
			<a th:href="${grant.getId()} + @{/document_form}" class="btn btn-primary" >Nowy dokument</a>
				<table class="table">
    				<thead>
    					<tr>
    						<th>Dokument</th>
    						<th width="90%">Opis</th>
    						<th>Kwota</th>
    					</tr>
    				</thead>
    				<tbody>
    					<tr th:each="document : ${documentList}">
    						<td> <a th:href="@{/grant/} + ${grant.getId()} + @{/document/} + ${document.getId()}" th:text="${document.getName()}" /> </td>
    						<td th:text="${document.getDescription()}" />
    						<td th:text="${document.getValue()}" align="right"/>
    					</tr>
    				</tbody>
    			</table>
			</div>				
		</div>
	</div>
	<div th:replace="fragments/footer :: myFooter"> Footer </div>
</body>
</html>