<!DOCTYPE HTML>
<html>
<head th:replace="fragments/header :: Head">
    <title>Olimpia DB</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="fragments/header :: myHeader"> Test </div>
	<div class="container">
		 <ul class="breadcrumb">
  			<li><a href="/">miniGRANT</a></li>
  			<li class="active">Dane grantu</li>
		</ul>
		<form class="form-horizontal" action="/grant_form" th:action="@{/grant_form}" th:object="${grant}" method="post">
			<input type="hidden" th:field="*{id}" />
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Nazwa</label>
				<div class="col-sm-10">
					<input th:field="*{name}" class="form-control" id="name" type="text" placeholder="Wprowadź nazwę grantu" required="required" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="date-begin">Data rozpoczęcia grantu</label>
				<div class="col-sm-4">
					<input th:field="*{dateBegin}" class="form-control" id="date-begin" type="text" placeholder="Wprowadź datę rozpoczęcia grantu" required="required" pattern="\d{4]-\d{2}-\d{2}" />
				</div>
				<label class="control-label col-sm-2" for="date-end">Data zakończenia grantu</label>
				<div class="col-sm-4">
					<input th:field="*{dateEnd}" class="form-control" id="date-end" type="text" placeholder="Wprowadź datę zakończenia grantu" required="required" pattern="\d{4]-\d{2}-\d{2}" />
				</div>
			</div>
			<div class="form-group" th:if="${grant.getId()>=0}">
				<label class="control-label col-sm-2" for="status">Status</label>
				<div class="col-sm-4">
					<select th:field="*{status}" class="form-control" id="status">
						<option value="0">Projekt</option>
						<option value="10">Trwający</option>
						<option value="20">Zakończony</option>
						<option value="30">Rozliczony</option>
						<option value="99">Zarchiwizowany</option>
					</select>
				</div>
			</div>
			
			<div class="form-group">
    			<div class="col-sm-offset-2 col-sm-10">
      				<div class="btn-group">
	      				<button type="submit" class="btn btn-success">Zatwierdź</button>
    	  				<input Type="button" class="btn btn-danger" VALUE="Anuluj" onClick="history.go(-1);return true;" />
    	  			</div>
    			</div>
  			</div>
		</form> 
		
    </div>
    <div th:replace="fragments/footer :: myFooter"> Test </div>
</body>
</html>