<!DOCTYPE HTML>
<html>
<head th:replace="fragments/header :: Head">
    <title>miniGRANT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="fragments/header :: myHeader"> Header </div>
	<div class="container">
		<div class="jumbotron text-center">
			<h1>Prosty System Zarządzania Grantami</h1>
			<h3><a class="btn btn-info" href="/beneficiary"><span class="btn-bigger">Wejdź do systemu</span></a></h3>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Co nowego?</h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>
						<strong>1.0.0.0</strong>
						<p>miniGRANT jest teraz dostępny w Internecie, z dowolnego miejca na świecie!!!</p>
					</li>
					<li>
						<strong>0.6.1.4</strong>
						<p>Dodano:</p>
						<ol>
							<li>Wymuszenie protokołu HTTPS</li>
							<li>Listę "Co nowego?"</li>
						</ol>
					</li>
					<li>
						<strong>0.6.1.0</strong>
						<p>Dodano:</p>
						<ol>
							<li>Menu ustawień użytkownika</li>
							<li>Formularz ustawień użytkownika</li>
							<li>Formularz zmiany hasła</li>
						</ol>
					</li>
					<li>
						<strong>0.6.0.3</strong>
						<p>Dodano funkcjonalność resetowania hasła</p>
					</li>
					<li>
						<strong>0.6.0.0</strong>
						<p>Przechowywanie hasła użytkownika w formie zaszyfrowanej</p>
					</li>
					<li>
						<strong>0.5.0.19</strong>
						<p>Uporządkowano przyciski na stronie z listą beneficjentów</p>
					</li>
					<li>
						<strong>0.5.0.18</strong>
						<p>Uporządkowano przyciski na stronie z listą grantów</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: myFooter"> Footer </div>
</body>
</html>