<!DOCTYPE html>
<html>
	<head th:replace="fragments/header :: Head">
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
    <style>
		.jumbotron {
    		background-color: #ffffff;
		}
	</style>
    
    <body>
    	<div th:replace="fragments/header :: myHeader"> Header </div>
        <div class="container">
        	<div class="alert alert-info" th:if="${infoMessage}" th:text="${infoMessage}" />
        	<div class="alert alert-danger" th:if="${errorMessage}" th:text="${errorMessage}" />

	        			<form class="form-horizontal" th:action="@{#}" method="post">
	            			<div class="form-group">
        	    				<label class="control-label col-sm-2" for="password1">Hasło:</label>
            					<div class="col-sm-10">
	            					<input type="password" class="form-control" id="password1" name="password1" required="required" placeholder="Musi mieć długość co najmniej 8 znaków oraz zawierać duże i małe litery oraz cyfry" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"/>
    	        				</div>
	    	        		</div>
    	        			<div class="form-group">
        	    				<label class="control-label col-sm-2" for="pwd2">Powtórz hasło:</label>
            					<div class="col-sm-10">
	            					<input type="password" class="form-control" id="password2" name="password2" required="required" placeholder=""/>
    	        				</div>
	    	        		</div>
    	    	    		<div class="form-group">
    							<div class="col-sm-offset-2 col-sm-10">
            						<button class="btn btn-primary" type="submit" >Zmień</button>
            					</div>
	            			</div>     		
		        		</form>
        </div>
		<div th:replace="fragments/footer :: myFooter"> Footer </div>        
    </body>
</html>