<!DOCTYPE HTML>
<html>
<head th:replace="fragments/header :: Head">
    <title>miniGRANT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="fragments/header :: myHeader"> Header </div>
	<div class="container">
		<div class="alert alert-info" th:if="${infoMessage}" th:utext="${infoMessage}"/>
		<div class="alert alert-danger" th:if="${errorMessage}" th:utext="${errorMessage}"/>
		<center><a class="btn btn-info" href="/login"><span>Powrót</span></a></center>
	</div>
	<div th:replace="fragments/footer :: myFooter"> Footer </div>
</body>
</html>