<!DOCTYPE HTML>
<html>
<head th:replace="fragments/header :: Head">
    <title>Olimpia DB</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="fragments/header :: myHeader"> Test </div>
	<div class="container">
		<ul class="breadcrumb">
  			<li><a href="/">Granty</a></li>
  			<li><a th:href="@{/grant/} + ${grant.getId()}" th:text="${grant.getName()}"/></li>
  			<li>Dokumenty</li>
  			<li><a th:href="@{/grant/} + ${grant.getId()} + @{/document/} + ${document.getId()}" th:text="${document.getName()}"/></li>
  			<li class="active">Rozliczenie</li>
  			<li th:if="${payment.getId()>=0}" th:text="${payment.getBudget().getCostType().getName()}" />
		</ul>		
		<form class="form-horizontal" action="payment_form" th:action="@{payment_form}" th:object="${payment}" method="post">
			<input type="hidden" th:field="*{id}" />
			<input type="hidden" th:field="*{document.id}" th:value="${document.getId()}"/>
			<div class="form-group">
				<label class="control-label col-sm-2" for="budget">Pozycja kosztorysu</label>
				<div class="col-sm-4">
					<select th:field="*{budget.id}" class="form-control" id="budget" >
						<option th:each="budget : ${budgetList}" th:value="${budget.getId()}" th:text="${budget.getCostType().getName()}"/>
					</select>
				</div>
			</div>
			
			<div th:if="${unpaidDocument!=null}" class="alert alert-danger">Kwota rozliczenia przekracza nierozliczoną wartość <u>dokumentu</u>: <strong th:text="${unpaidDocument}" /></div>

			<div th:if="${unpaidDotation==null}" class="form-group has-success">
				<label class="control-label col-sm-2" for="dotation">Dotacja</label>
				<div class="col-sm-2">
					<input th:field="*{dotation}" class="form-control" id="dotation" type="number" min="0.00" step="0.01" placeholder="kwota dotacji" required="required" />
				</div>
			</div>
			<div th:unless="${unpaidDotation==null}" class="form-group has-error">
				<label class="control-label col-sm-2" for="dotation">Dotacja</label>
				<div class="col-sm-2">
					<input th:field="*{dotation}" class="form-control" id="dotation" type="number" min="0.00" step="0.01" placeholder="kwota dotacji" required="required" />
				</div>
				<div class="col-sm-7"> <span class="text-danger">Pozostało do rozliczenia według <u>kosztorysu</u>: <strong th:text="${unpaidDotation}" /></span></div>
			</div>
			
			<div th:if="${unpaidContributionOwn==null}" class="form-group has-success">
				<label class="control-label col-sm-2" for="contribution_own">Wkład własny</label>
				<div class="col-sm-2">
					<input th:field="*{contributionOwn}" class="form-control" id="contribution_own" type="number" min="0.00" step="0.01" placeholder="Kwota pokryta ze środków własnych" required="required" />
				</div>
			</div>
			<div th:unless="${unpaidContributionOwn==null}" class="form-group has-error">
				<label class="control-label col-sm-2" for="contribution_own">Wkład własny</label>
				<div class="col-sm-2">
					<input th:field="*{contributionOwn}" class="form-control" id="contribution_own" type="number" min="0.00" step="0.01" placeholder="Kwota pokryta ze środków własnych" required="required" />
				</div>
				<div class="col-sm-7"><span class="text-danger">Pozostało do rozliczenia według <u>kosztorysu</u>: <strong th:text="${unpaidContributionOwn}" /></span></div>
			</div>

			<div th:if="${unpaidContributionPersonal==null}" class="form-group has-success">
				<label class="control-label col-sm-2" for="contribution_personal">Wkład osobowy</label>
				<div class="col-sm-2">
					<input th:field="*{contributionPersonal}" class="form-control" id="contribution_personal" type="number" min="0.00" step="0.01" placeholder="Koszty wolontariatu, itp." required="required" />
				</div>
			</div>
			<div th:unless="${unpaidContributionPersonal==null}" class="form-group has-error">
				<label class="control-label col-sm-2" for="contribution_personal">Wkład osobowy</label>
				<div class="col-sm-2">
					<input th:field="*{contributionPersonal}" class="form-control" id="contribution_personal" type="number" min="0.00" step="0.01" placeholder="Koszty wolontariatu, itp." required="required" />
				</div>
				<div class="col-sm-7"><span class="text-danger">Pozostało do rozliczenia według <u>kosztorysu</u>: <strong th:text="${unpaidContributionPersonal}" /></span></div>
			</div>

			<div th:if="${unpaidContributionInkind==null}" class="form-group has-success">
				<label class="control-label col-sm-2" for="contribution_inkind">Wkład rzeczowy</label>
				<div class="col-sm-2">
					<input th:field="*{contributionInkind}" class="form-control" id="contribution_inkind" type="number" min="0.00" step="0.01" placeholder="Użyczony sprzęt" required="required" />
				</div>
			</div>
			<div th:unless="${unpaidContributionInkind==null}" class="form-group has-error">
				<label class="control-label col-sm-2" for="contribution_inkind">Wkład rzeczowy</label>
				<div class="col-sm-2">
					<input th:field="*{contributionInkind}" class="form-control" id="contribution_inkind" type="number" min="0.00" step="0.01" placeholder="Użyczony sprzęt" required="required" />
				</div>
				<div class="col-sm-7"><span class="text-danger">Pozostało do rozliczenia według <u>kosztorysu</u>: <strong th:text="${unpaidContributionInkind}" /></span></div>
			</div>
			
			<div class="form-group">
    			<div class="col-sm-offset-2 col-sm-10">
      				<div class="btn-group">
	      				<button type="submit" class="btn btn-success">Zatwierdź</button>
    	  				<input Type="button" class="btn btn-danger" VALUE="Anuluj" onClick="history.go(-1);return true;" />
    	  			</div>
    			</div>
  			</div>
		</form> 
		
    </div>
    <div th:replace="fragments/footer :: myFooter"> Test </div>
</body>
</html>